@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:300,400,500,700');
body {
  font-family: 'Roboto', sans-serif;
}

.grayscale {
  filter: grayscale(1);
}